### Selection Assessment  - Engineering Analytics - Dialog Axiata PLC

#### Name: < WL Sithumini Kaushalya Amarasinghe >
#### E Mail: < amarasimghesithumini@gmail.com >

### Part (a)
#### Load and assess "cx_churn_data.csv" dataset.

Explain how data was loaded...

In [61]:
import pandas as pd

# Load the dataset
df = pd.read_csv('cx_churn_data.csv')

# Display basic information about the dataset
df.info()

# Display the first few rows of the dataset
df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 19 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   cx_id                     7043 non-null   object
 1   gender                    7043 non-null   object
 2   senior_citizen            7043 non-null   object
 3   partner                   7043 non-null   object
 4   dependents                7042 non-null   object
 5   tenure                    7043 non-null   int64
 6   phone_service             7041 non-null   object
 7   multiple_connections      7043 non-null   object
 8   internet_connection_type  7040 non-null   object
 9   device_insurance          7041 non-null   object
 10  call_center_support       7039 non-null   object
 11  dtv                       7040 non-null   object
 12  dtv_viu                   7041 non-null   object
 13  account_type              7042 non-null   object
 14  e_bill                    7042 non-null   object
 15  payment_method            7038 non-null   object
 16  monthly_bill              7042 non-null   float64
 17  total_bill                7043 non-null   object
 18  churn                     7043 non-null   object
dtypes: float64(1), int64(1), object(17)
memory usage: 1.0+ MB

,cx_id,gender,senior_citizen,partner,dependents,tenure,phone_service,multiple_connections,internet_connection_type,device_insurance,call_center_support,dtv,dtv_viu,account_type,e_bill,payment_method,monthly_bill,total_bill,churn
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,HBB,No,No,No,No,prepaid,Yes,app,29.85,29.85,No
1,5575-GNVDE,Male,0,No,No,34,Yes,No,HBB,Yes,No,No,No,postpaid,No,cash,56.95,1889.5,No
2,3668-QPYBK,Male,0,No,No,2,Yes,No,HBB,No,No,No,No,prepaid,Yes,cash,53.85,108.15,Yes
3,7795-CFOCW,Male,0,No,No,45,No,No phone service,HBB,Yes,Yes,No,No,postpaid,No,bank transfer,42.30,1840.75,No
4,9237-HQITU,Female,0,No,No,2,Yes,No,MBB,No,No,No,No,prepaid,Yes,app,70.70,151.65,Yes

Explain the challenges encountered and describe dataset.

### Part (b)
#### Data cleansing

In [62]:
# Check for missing values
missing_values = df.isnull().sum()

# Drop duplicate rows if any
df = df.drop_duplicates()

# Example: Convert 'gender' column to categorical type if not already
if df['gender'].dtype != 'object':
    df['gender'] = df['gender'].astype('category')

# Display the cleaned data
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 19 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   cx_id                     7043 non-null   object
 1   gender                    7043 non-null   object
 2   senior_citizen            7043 non-null   object
 3   partner                   7043 non-null   object
 4   dependents                7042 non-null   object
 5   tenure                    7043 non-null   int64
 6   phone_service             7041 non-null   object
 7   multiple_connections      7043 non-null   object
 8   internet_connection_type  7040 non-null   object
 9   device_insurance          7041 non-null   object
 10  call_center_support       7039 non-null   object
 11  dtv                       7040 non-null   object
 12  dtv_viu                   7041 non-null   object
 13  account_type              7042 non-null   object
 14  e_bill                    7042 non-null   object
 15  payment_method            7038 non-null   object
 16  monthly_bill              7042 non-null   float64
 17  total_bill                7043 non-null   object
 18  churn                     7043 non-null   object
dtypes: float64(1), int64(1), object(17)
memory usage: 1.0+ MB

Describe steps taken to cleanse the dataset

### Part (c)
#### Fill in missing values using suitable methods. (If required)

In [63]:
# Insert code for part (c)
# Fill missing values for numerical columns with the median
for column in df.select_dtypes(include=['float64', 'int64']).columns:
    df[column].fillna(df[column].median(), inplace=True)

# Fill missing values for categorical columns with the mode
for column in df.select_dtypes(include=['category']).columns:
    df[column].fillna(df[column].mode()[0], inplace=True)

# Verify that there are no missing values left
missing_values_after = df.isnull().sum()

C:\Users\User\AppData\Local\Temp\ipykernel_12540\2886833850.py:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[column].fillna(df[column].median(), inplace=True)
C:\Users\User\AppData\Local\Temp\ipykernel_12540\2886833850.py:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[column].fillna(df[column].median(), inplace=True)

Describe methods used and justify.

### Part (d)
#### Account for class imbalance with suitable methods.

In [64]:
import pandas as pd
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer
from imblearn.over_sampling import SMOTE

# Assuming df is already loaded and contains the data
X = df.drop('churn', axis=1)
y = df['churn']

# Identify categorical features
categorical_features = X.select_dtypes(include=['object', 'category']).columns

# Create a ColumnTransformer to apply OneHotEncoding to categorical features
preprocessor = ColumnTransformer(
    transformers=[
        ('cat', OneHotEncoder(handle_unknown='ignore'), categorical_features)
    ],
    remainder='passthrough'  # Keep the rest of the features unchanged
)

# Transform the features
X_transformed = preprocessor.fit_transform(X)

# Apply SMOTE to balance the classes
smote = SMOTE()
X_resampled, y_resampled = smote.fit_resample(X_transformed, y)

# Verify the new class distribution
print(y_resampled.value_counts())

churn
No     5174
Yes    5174
Name: count, dtype: int64

Describe methods used and justify.

### Part (e)
#### Train ML model to predict churn

In [65]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import classification_report, accuracy_score

# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X_resampled, y_resampled, test_size=0.2, random_state=42)

# Convert sparse matrix to dense if necessary
if hasattr(X_train, 'toarray'):
    X_train = X_train.toarray()
    X_test = X_test.toarray()

# Standardize the feature variables
scaler = StandardScaler(with_mean=False)  # Avoid centering sparse matrices
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

# Train a Logistic Regression model
model = LogisticRegression()
model.fit(X_train, y_train)

# Make predictions on the test set
y_pred = model.predict(X_test)

# Evaluate the model
accuracy = accuracy_score(y_test, y_pred)
report = classification_report(y_test, y_pred)

print(f"Accuracy: {accuracy}")
print(report)

Accuracy: 0.8821256038647343
              precision    recall  f1-score   support

          No       0.98      0.77      0.87      1021
         Yes       0.82      0.99      0.89      1049

    accuracy                           0.88      2070
   macro avg       0.90      0.88      0.88      2070
weighted avg       0.90      0.88      0.88      2070

Describe what happened and elaborate on model performance

### Answer (f)

Train an ANN model

In [66]:
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

# Define the ANN model
model_ann = Sequential()
model_ann.add(Dense(units=64, activation='relu', input_shape=(X_train.shape[1],)))
model_ann.add(Dense(units=32, activation='relu'))
model_ann.add(Dense(units=1, activation='sigmoid'))

# Compile the model
model_ann.compile(optimizer='adam', loss='binary_crossentropy', metrics=['accuracy'])

# Train the model
history = model_ann.fit(X_train, y_train, epochs=50, batch_size=32, validation_data=(X_test, y_test))

# Evaluate the model
loss, accuracy = model_ann.evaluate(X_test, y_test)
predictions = model_ann.predict(X_test)

# Convert predictions to binary outcomes
y_pred_ann = (predictions > 0.5).astype(int)

# Classification report
from sklearn.metrics import classification_report
report_ann = classification_report(y_test, y_pred_ann)

print(f"ANN Accuracy: {accuracy}")
print(report_ann)

ModuleNotFoundError: No module named 'tensorflow'

Describe what happened and elaborate on model performance. 
Compare (e) model performance with (f).